<div class="counter-section">
  <div class="welcome-msg">
    <h4>{{ 'hello' | translate }}, {{ (user$ | async)?.name! | titlecase }} !</h4>
    <p>{{ 'welcome_text' | translate }}</p>
  </div>
  <div class="box-account box-info">
    <div class="box-head">
      <h4>{{ 'account_information' | translate }}</h4>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="box">
          <ul class="box-content">
            <li>
              <h6>{{ 'name'| translate}}: {{ (user$ | async)?.name | titlecase }}</h6>
            </li>
            <li>
              <h6>{{ 'email'| translate}}: {{ (user$ | async)?.email }}</h6>
            </li>
            @if (defaultAddress) {
              <li>
                <h6>
                  {{ 'address'| translate}}:
                  {{ defaultAddress.line1 }}, {{ defaultAddress.city }},
                  {{ defaultAddress.province }} {{ defaultAddress.postal }}
                </h6>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="box mt-3">
      <div class="box-head">
        <h4>{{ 'login_details' | translate }}</h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h6>{{ 'email'| translate}} : {{ (user$ | async)?.email }}</h6>
          <a href="javascript:void(0)" (click)="openModal('profile')">{{ 'edit' | translate }}</a>
        </div>
        <div class="col-sm-6">
          <h6>{{ 'password'| translate}} : ●●●●●●</h6>
          <a href="javascript:void(0)" (click)="openModal('password')">{{ 'edit' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
