<header class="style-light header-compact lovelydearly-header">
  @if(data()?.header?.page_top_bar_enable){
  <app-top-bar [data]="data()" />
  }
  <div class="container-fluid lovelydearly-header-inner">

    <!-- LEFT: nav links (desktop) / hamburger (mobile) -->
    <div class="lovelydearly-header-left">
      <div class="toggle-nav d-xl-none" (click)="mainMenuOpen()">
        <i class="ri-menu-line sidebar-bar"></i>
      </div>
      <nav class="lovelydearly-nav d-none d-xl-flex">
        <app-menu />
      </nav>
    </div>

    <!-- CENTER: logo -->
    <div class="lovelydearly-header-center">
      <div class="brand-logo">
        <app-header-logo [logo]="logo()" />
      </div>
    </div>

    <!-- RIGHT: account + cart -->
    <div class="lovelydearly-header-right">
      <div class="icon-nav">
        <ul>
          <li class="onhover-div onhover-dropdown">
            <app-user-profile />
          </li>
          <li class="onhover-div">
            <app-cart />
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
